@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "inter", sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #427EBB;
}

.container {
    width: 80%;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
}

.form-image{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fde3a7d7;
    padding: 1rem;
}

.form-image img{
    width: 31rem;
}

.form {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    padding: 3rem;
}

.form-header{
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-box {
   display: flex;
   flex-direction: column;
   margin-bottom: 1.1rem;
}

.input-box input {
    margin: 0.3rem 0;
    padding: 0.3rem 0.5rem;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 6px #0000001c;
}

.input-box input:hover{
    background-color: #eeeeee75;
}

.input-box input:focus-visible {
    outline: #6c63ff;
}

.gender-group{
    display: flex;
    justify-content: space-around;
    margin-top: 0.15rem;
    padding: 0 0 0.15rem;
}

.gender-input {
    display: flex;
    align-items: center;
}

.finalize-buttom{
    width: 100%;
    border: none;
    background-color: #427EBB;
    align-items: center;
}




